<div class="login-box">
    <div class=" container " style="overflow: hidden;">
        <div class="login-form">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="resources/imgs/login.jpg"/>
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" novalidate>
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" class="form-control" placeholder="邮件地址" required autofocus
                           ng-disabled="register.reqProcessing"
                           ng-model="register.user.reg_email">
                    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required
                           ng-disabled="register.reqProcessing"
                           ng-model="register.user.reg_password">

                    <button class="btn btn-lg btn-primary btn-block btn-signin"
                            ng-disabled="register.reqProcessing"
                            ng-click="register.reg()">注册
                    </button>

                </form>
                <a class="forgot-password" ng-click="register.login()">登录</a>
            </div>
        </div>
    </div>
</div>